<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/brian-webb.jpg" alt="...">
      <div class="caption">
        <h3>The Fastest Way to Save for a House</h3>
        <p>The six-bedroom, eight-bath estate is a spacious 11,250 square feet and sits on 16 acres. According to the listing, the “timeless contemporary was inspired with an unlimited budget, a blank canvas for architectural creativity, and a one-of-kind site with views of the entire southern horizon.</p>
        <p><button mat-raised-button role="button" (click)="onOpenDialogThumbnailOne()">Read more</button></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/brian-webb.jpg" alt="...">
      <div class="caption">
        <h3>What Your Kitchen Secretly Says About You</h3>
        <p>The six-bedroom, eight-bath estate is a spacious 11,250 square feet and sits on 16 acres. According to the listing, the “timeless contemporary was inspired with an unlimited budget, a blank canvas for architectural creativity, and a one-of-kind site with views of the entire southern horizon.</p>
        <p><button mat-raised-button role="button" (click)="onOpenDialogThumbnailTwo()">Read more</button></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/brian-webb.jpg" alt="...">
      <div class="caption">
        <h3>Gobble Up These 9 Homes for Sale on Turkey-Themed</h3>
        <p>The six-bedroom, eight-bath estate is a spacious 11,250 square feet and sits on 16 acres. According to the listing, the “timeless contemporary was inspired with an unlimited budget, a blank canvas for architectural creativity, and a one-of-kind site with views of the entire southern horizon.</p>
        <p><button mat-raised-button role="button" (click)="onOpenDialogThumbnailThree()">Read more</button></p>
      </div>
    </div>
  </div>
</div>