<div>
<div class="container">
  <footer class="container re-fo-style row">
    <section class="sectionContact col-xs-6 col-sm-12 col-md-4">
      <h2>Contact</h2>
      <div class="re-fo-contact">
        <div class="contactIcons">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <i class="fa fa-phone" aria-hidden="true"></i>
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
        <div class="re-fo-links">
          <a href="#">6301 Councilridge Ct</a>
          <a href="#">(513) 888-1155</a>
          <a href="#">danny1@gmail.com</a>
        </div>
      </div>
    </section>
    <section class="sectionSocial">
      <!--<h2>Social</h2>-->
      <a href="#">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="#">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a href="#">
        <i class="fa fa-google-plus" aria-hidden="true"></i>
      </a>
    </section>
    <section class="sectionAbout">
      <h2>About</h2>
    </section>
  </footer>
</div>
</div>