<div>
  <mat-sidenav-container class="re-container">
    <mat-sidenav #sidenav class="re-sidenav"  (click)="sidenav.close()">
 <p>When the economy is humming along that’s when you’ll see more venture capitalists come out of the woodwork. In many markets, it’s been awhile since the real estate industry attracted VC attention. But times — they are a-changin’.

  According to Crunchbase, between August 2016 and August 2017 a total of 111 real estate startups secured over $502 million in early-stage equity funding.

  So why is the real estate industry becoming a popular playing field for venture capitalists? That’s a question more industry insiders are starting to explore.</p>
    </mat-sidenav>

    <div class="sidenav-content">
      <img src="../../assets/brian-webb.jpg">
      <button type="button" mat-button (click)="sidenav.open()">
        Learn More
      </button>
    </div>
  </mat-sidenav-container>
</div>
<hr>